.header{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
.logo{
    align-self: center;  
}
.camera{
    align-self: center;
    margin-left: auto;
    margin-right: 10px;
}
.camera img{
    width:50px
}
.logo img{
    width:100px;
    margin-left: 5px;
}